.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
// ========
  z-index: 5;
  @include button;
  
  

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-switch {
  &:hover, &:focus {
    fill: var(--accent-color);
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

// =====================================================================

.menu-container {
  z-index: 2;

  background-color: #ffffff;
  flex-grow: 1;
  display: flex;

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    
    left: 0;
    width: 100%;
    top: 0;
    height: 100vh;
    position: fixed;

    &.is-open {
      display: block;
      overflow-y: scroll;
      flex-direction: column;
    }
  }
}

.menu__wrapper {
  // background-color: aquamarine;
  
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  // flex-direction: row;

  .menu-container.is-open > & {
    // flex-direction: column;

    padding: 48px 40px;
    width: 480px;

    @media screen and (max-width: 479px) {
      width: 100%;
    }

    margin-left: auto;
    margin-right: auto;
    height: 100%;
  }
}

.nav-cont {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .menu-container.is-open & {
    flex-direction: column;
  }
}

.nav__list {
  // background-color: crimson;
  @include list;
  margin-bottom: 0;

  display: flex;
  flex-direction: column;
  gap: 32px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 50px;
    align-items: center;
  }
}

.nav__link {
  @include link;
  display: block;
  color: var(--text-color-second);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (max-width: 767px) {
    @include font (40px, calc(47 / 40), 500, .02em);
  }

  @media screen and (min-width: 768px) {
    @include font (14px, calc(16 / 14), 500, .02em);
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.curent {
  color: var(--accent-color);
  @media screen and (min-width: 768px) {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      display: block;
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      border-radius: 2px;
    }
  }
}

.contact__list {
  @include list;
  margin-bottom: 0;
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
    gap: 32px;
  }
  
  @media screen and (min-width: 768px) {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 40px;
  }
}

.contact-link {
  @include link;
  display: flex;
  align-items: center;

  @media screen and (min-width: 768px) {
    color: var(--text-color-main);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    @include font (12px, calc(14 / 12), 500, .02em);
    .contact-icon-d {
      display: none;
    }
  }
  
  @media screen and (min-width: 1200px) {
    @include font (14px, calc(16 / 14), 500, .02em);
    .contact-icon-t {
      display: none;
    }
    padding-top: 32px;
    padding-bottom: 32px;
  }
  
  @media screen and (max-width: 767px) {
    .contact-icon-t, .contact-icon-d {
      display: none
    }

    &.c-tel {
      @include font (34px, calc(40 / 34), 500, .02em);
      @media screen and (max-width: 479px) {
        @include font (27px, calc(32 / 28), 500, .02em);
      }
      color: var(--accent-color);
    }

    &.c-mail {
      @include font (24px, calc(28 / 24), 500, .02em);
      color: var(--text-color-main);
    }
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact-icon-t, .contact-icon-d {
  fill: currentColor;
  margin-right: 5px;
}

.menu-soc-list {
  display: none;
  @include list;
  margin-bottom: 0;
  margin-top: 64px;
  @media screen and (max-width: 767px) {
    display: flex;
  }
}

.menu-soc-item:not(:first-child) {
  padding-left: 10px;
  @media screen and (max-width: 479px) {
    padding-left: 5px;
  }
}

.menu-soc-item:not(:last-child) {
  padding-right: 10px;
  @media screen and (max-width: 479px) {
    padding-right: 5px;
  }
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu-soc-link {
  @include link;
  @include font (18px, calc(22 / 18), 500, .02em);
  @media screen and (max-width: 479px) {
    @include font (13px, calc(18 / 13), 500, .02em);
  }
  color: var(--accent-color);
}
