:root {
  --bgc-main: #ffffff;
  --bgc-second: #f5f4fa;
  --bgc-hero: #2f303a;
  --text-color-main: #757575;
  --text-color-second: #212121;
  --text-color-hero: #ffffff;
  --accent-color: #2196f3;
  --hero-hover-color: #188ce8;
}