.benefits {
  @include section;

  @media screen and (min-width: 1200px) {
    @include section (94px, 94px);
  }
}

.benefits__list {
  @include list;
  margin-bottom: 0;

  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.benefits__item {
  flex-basis: 100%;
  
  @media screen and (min-width: 768px) {
    flex-basis: calc( ( 100% - 30px ) / 2 );
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 30px * 3) / 4);
  }

  // &:last-child {
  //   margin-right: 0;
  // }
}

.benefits__thumb {
  @include flex-center;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--bgc-second);
  border-radius: 4px;
}

.benefits__name {
  @include font (14px, calc(16 / 14), null, .03em);
  @include title;
  margin-bottom: 10px;

  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.benefits__description {
  @include font (14px, calc(24 / 14), null, .03em);
  @include text;

  margin-bottom: 0;
}